.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
}

img {
  height: 400px;
  width: 250px;
}

input {
  width: 245px;
}

button {
  width: 250px;
  margin-top: 10px;
  background: white;
  color: black;
}

h4, h5 {
  width: 250px;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  font-family: sans-serif;
}
